@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// Fonts
$fontMain: "Lato", sans-serif;

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

$separation: 5rem;

// Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$blackColor: #000000;
$grayDarkColor: #333333;
$greenColor: #71b100;
$yellowColor: #e08709;
$grayColor: #e1e1e1;
$whiteColor: #ffffff;
